*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Test Directory
src/org/ghost/loginCrawler/test/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
